body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#searchBy {
    font-size: 15px;
    font-weight:bolder;
    padding: 5px
}

#AddBtn {
    margin-top: 10px;
}

#searchContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

#searchItems {
    margin-top: 10px;
    margin-bottom: 20px;
}

.badge-success {
    background-color: #419641;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
