@page "{collection}/{id}"
@model EditModel
@{
}

<h1>Edit</h1>
<form asp-page-handler="Save" method="post">
    <div>
        <h1>Editing: <label asp-for="ItemToEdit.Name"></label></h1>

        <label>Comments</label>
        <input asp-for="ItemToEdit.Comments" />
        <label>Is this a Tutotial?</label>
        <input asp-for="ItemToEdit.Tutorial" />
        <input asp-for="ItemToEdit.Id" type="hidden" />
        <input asp-for="Collection" type="hidden" />
        <input asp-for="ItemToEdit.Name" type="hidden" />

    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>