@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model contextual_notes.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts
    {
    <script src="@Url.Content("~/js/site.js")"></script>
}

<form asp-page-handler="Create" method="post">
    @Html.DropDownListFor(x => x.CollectionName, new SelectList(@Model.Collections, "", ""), "Select Collection", new { onchange = "loadTable()", id = "ddlCollection" })

    <div id="createForm" style="display:none">

        <label> Url:</label>
        <input asp-for="NoteItem.Url" />
        <label> Notes:</label>

        <input asp-for="NoteItem.Notes" />
        <label>Is this a tutorial? </label>

        <input asp-for="NoteItem.IsTutorial" type="checkbox" />
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</form>



<div id="searchContainer">
    Searching by (Select up to 2):

    <div id="searchItems">

    </div>
    <input type="text" id="queryText" />
    <input type="button" value="Search" id="searchBtn" onclick="search()" style="display:none" />
</div>


<input type="button" value="Add New Url" onclick="$('#createForm').toggle()" id="AddBtn" style="display:none" /> <br />

<table id="noteTable" class="table table-striped">
    <thead>

    </thead>
</table>
<div id="searchBy" name="searchTerms" style="visibility:hidden"></div>

<form>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KW5cuB058RCnNyZSLI7AUjUAtTwe54jQ4Z9Goyn3WKPcpVFYSFUM5J-JDFC3E-MZIUcyR0UnbrvrC_sHv6MbUONStuIMhqDc7i00pQiGkrzf3hK6t5gZFVrjUpyAcargow4zvKU_ISjdPfoLTNF588" />
</form>
