@page

@model contextual_notes.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<input type="button" value="Add New" onclick="$('#createForm').toggle()" id="AddBtn" />

<form asp-page-handler="Create" method="post">
    @Html.DropDownListFor(x => x.CollectionName, new SelectList(@Model.Collections, "", ""), "Select Collection", new { onchange = "SelectedIndexChanged()", id = "ddlCollection" })

    <div id="createForm" style="display:none">

        <label> Url:</label>
        <input asp-for="NoteItem.Url" />
        <label> Notes:</label>

        <input asp-for="NoteItem.Comments" />
        <label>Is this a tutorial? </label>

        <input asp-for="NoteItem.Tutorial" type="checkbox" />
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</form>


<table id="noteTable" class="table table-striped">
    <thead>

    </thead>
</table>

<form>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KW5cuB058RCnNyZSLI7AUjUAtTwe54jQ4Z9Goyn3WKPcpVFYSFUM5J-JDFC3E-MZIUcyR0UnbrvrC_sHv6MbUONStuIMhqDc7i00pQiGkrzf3hK6t5gZFVrjUpyAcargow4zvKU_ISjdPfoLTNF588" />
</form>



<script type="text/javascript">

    function SelectedIndexChanged() {
        var select = $("#ddlCollection option:selected").text();

        $.ajax({
            type: "GET",
            url: "/Index/?handler=List&selectedCollection=" + select,
            contentType: "application/json",
            dataType: "json",
            success: function (response) {

                var jsonTable = new JSONTable($("#noteTable"))
                var tableData = jsonTable.fromJSON(JSON.parse(response), select)

            },
            failure: function (response) {
                alert(response);
            }
        });
    }

</script>  